<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hostconf login</title>
    {{styles}}
</head>
<body>
<div class="container">
    <h1>Моля влезте</h1>
    <form name="login" method="POST">
    <table class="logintab hosttab">
        {{#loginErr}}
        <tr><td colspan="2" class="errormsg">Невалиден потребител или парола!</td> </tr>
        {{/loginErr}}
        {{#triesErr}}
        <tr><td colspan="2" class="errormsg">Максимален брой опити достигнат!</td> </tr>
        {{/triesErr}}
        <tr>
            <td>Име:</td>
            <td><input id="user" name="user" value="" type="text" /></td>
        </tr>
        <tr>
            <td>Парола:</td>
            <td><input id="pass" name="pass" value="" type="password" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center"><input id="submit" name="submit" value="Вход" type="submit" /></td>
        </tr>
    </table>
    </form>
</div>

</body>
</html>