{{#hostSel}}
<h1>Настройки на адрес</h1>

<form name="host" method="POST">

<table class="hosttab">
    <tr>
        <td>Име</td>
        <td><input id="nameval" name="nameval" type="text" value="{{name}}" /></td>
    </tr>
    <tr>
        <td>IP</td>
        <td>
            <select id="ipval" name="ipval">
                {{#ip}}
                  <option selected>{{ip}}</option>
                {{/ip}}
                {{#freeIps}}
                  <option>{{ip}}</option>
                {{/freeIps}}
            </select>
        </td>
    </tr>
    <tr>
        <td>MAC</td>
        <td><input id="macval" name="macval" type="text" value="{{mac}}" /></td>
    </tr>

    <tr>
        <td>Категория</td>
        <td>
            <select id="catval" name="catval">
                <option></option>
                {{#categories}}
                 <option {{#selected}} selected {{/selected}}>{{catName}}</option>
                {{/categories}}
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2">Папки</td>
    </tr>

    {{#folders}}
    <tr>
        <td colspan="2">
            <input id="{{folder}}_cb" name="{{folder}}_cb" type="checkbox" {{#selected}} checked {{/selected}} />
            <label for="{{folder}}_cb" >{{folder}}</label>
        </td>
    </tr>
    {{/folders}}


    <tr>
        <td colspan="2">
            <a href="javascript:saveData();" class="but" style="float:left">Запис</a>
            <a href="javascript:applyData();" class="but" style="float:right">Приложи настройките</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <a href="/logout" class="but" style="display: block">Изход</a>
        </td>
    </tr>

</table>
    <input type="submit" name="submit" value="OK" style="display:none;" />
</form>
<script language="JavaScript">
    function saveData() {
        var mac = document.getElementById("macval").value.toUpperCase();
        mac = mac.replace(/\-/g,':'); //replace -
        document.getElementById("macval").value = mac; //Return to container

        var regex = /^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$/;
        var macvalid = regex.test(mac);

        var name = document.getElementById("nameval").value;
        var namevalid = false;
        if (name != "") namevalid = true;
        if (name.indexOf(" ") > -1) namevalid = false;

        if ((namevalid) && (macvalid)) document.forms.host.submit.click();
         else {
             if (!macvalid) alert("Грешен МАС адрес!");
             if (!namevalid) alert("Невалидно име на потребитл!");
        }
    }

    function applyData() {
       window.location = '/applySettings';
    }
</script>
{{/hostSel}}