<meta http-equiv='content-type' content='text/html; charset=UTF-8' />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel='shortcut icon' href='/img/favicon.png'/>
<link href='https://fonts.googleapis.com/css?family=Roboto:700,400,900&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/main.css" content="text/css"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
